.loading-screen{
    width: 100vw;
    height: 100vh;
    background-color: white;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-loader{
    margin: 0 auto;
}