<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Order List</title>
  </head>
  <body>
    <table width='100%' style = "border: 1px solid black; border-collapse: collapse">
        <caption>Orders on </caption>
        <thead>
         <tr>
         <th width=5%>SL No</th>
         <th colspan="1">Order ID</th>
         <th colspan="1">Name</th>
         <th width = 15% colspan="1">Address</th>
         <th colspan="1"> Pincode</td>
         <th width=25%>Order</th>
         <th colspan="1">Price</th>
         <th colspan="1">status</th>
         </tr>
        </thead>
        <tbody>
            <tr>
                <td id="sl" >dafFdf</td>
                <td id="order_id" >sFfSdfS</td>
                <td id="name" >SDFSDFSF</td>
                <td id="address" >DFSDFF,<br>DSFSDFsdf,<br>DSfSDfSdfSDf, DSfSDfsdf,<br> DSfSDFSDF,<br>DSfSDFSDF,</td>
                <td id="pincode" >sgsgf</td>
                <td id="Orders">    
                    
                    <table  width='100%'  style = " border: 1px solid black; border-collapse: collapse">
                        <thead>
                            <tr >
                                <th>Item</th>
                                <th>Quantity</th>
                                <th>Price</th>
                                <th>Disc price</th>
                                <th>Total price</th>
                            </tr>
                        </thead>
                        <tbody> 
                           
                                <tr>                               
                                    <td>efsa</td>
                                    <td>feas</td>
                                    <td>Rs.</td>
                                    <td>Rs.</td>
                                    <td>Rs.</td>
                                </tr>    
                 
                        </tbody>

                        
                    </table>
                    </div>
                </td>
                <td id="price" >Rs. </td>
                <td id="status" >ADfgxhgcjhv</td>

            </tr>
         
        </tbody>
       </table>



     